<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>getBoardList</title>
	<style type="text/css">
		body {
			text-align: center;
		}

		.boardTable {
			border-collapse: collapse;
			min-height: 500px;
			min-width: 100px;
			text-align: center;
			margin: 0 auto;
			text-align: center;
		}
		table{
			border-collapse: collapse;
			text-align: center;
			margin: 0 auto;
			text-align: center;
		}

		textarea {
			width: 180px;
			height: 10em;
			resize: none;
		}

		.boardTable th {
			border-right: 1px solid;
			min-width: 80px;
		}

		td {
			min-width: 300px
		}

		.boardTable tr {
			min-height: 50px;
			border: 1px solid;
		}
	</style>
</head>

<body>
	<h1><a href="/">메인으로</a></h1>
	<form action="/updateBoard" method="post" th:object="${board}">
		<table class="boardTable">
			<tr>
				<th>번호</th>
				<td><input type="text" th:field="${board.seq}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td><input type="text" th:field="${board.title}"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td><input type="text" th:field="${board.user.nickname}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea th:field="${board.content}"></textarea></td>
			</tr>
			<tr>
				<th>등록일</th>
				<td th:text="${#dates.format(board.date, 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<th>조회수</th>
				<td><input type="text" th:field="${board.cnt}" readonly="readonly"></td>
			</tr>
			<tr>
				<th><button type="button" onclick="likes()">좋아요</button></th>
				<td id="likesCount" th:text="${#lists.size(board.boardLikes)}"></td>
			</tr>
			<tr>
				<th><button type="button" onclick="disLikes()">싫어요</button></th>
				<td id="dislikesCount" th:text="${#lists.size(board.boardDislikes)}"></td>
			</tr>
			<tr>
				<td colspan="2"><button type="button" onclick="favorite()">즐겨찾기</button></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="수정하기"></td>
			</tr>
		</table>
	</form>
	<div th:id="userIdDiv" th:if="${not #strings.isEmpty(session.user)}" th:text="${session.user.id}"
		style="display: none;"></div>
	<a th:href="@{/deleteBoard(seq=${board.seq})}">삭제하기</a> |
	<a th:href="@{/getBoardList}">글목록</a>
	<br><br>
	댓글<br>
	<input id="comment" type="text" placeholder="댓글 내용을 입력해주세요.">
	<input type="submit" value="등록" onclick="addComment()">
	
	<h1>Comment Detail</h1>
    <div>
		<table>
			<tr>
				<th>댓글 작성자</th>
				<th>내용</th>
				<th>날짜</th>
			</tr>
			<tr th:each="c : ${comment}">
				<td th:text="${c.user.nickname}"></td>
				<td th:text="${c.comment}"></td>
				<td th:text="${#dates.format(c.date, 'yyyy-MM-dd HH:mm')}"></td>
				
			</tr>
		</table>
    </div>
	
	
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script th:inline="javascript">
		/* <![CDATA[ */
		var boardSeq = /*[[ ${board.seq} ]]*/"";
		var userId = document.getElementById('userIdDiv').innerText;

		function addComment() {
			var comment = document.getElementById('comment');
			var commentValue = comment.value;

			$.ajax({
				type: "GET",
				url: "/addComment",
				data: {
					userId: userId,
					boardSeq: boardSeq,
					comment: commentValue
				},
				success: function () {
					alert("댓글 등록 완료");
					location.reload(true);
				},
				error: function (xhr, textStatus, errorThrown) {
					if (xhr.status == 401) {
						alert("로그인이 필요합니다.");
					} else {
						alert("알 수 없는 오류 발생");
					}
				}
			});

			comment.value = '';
		}

		function updateLikesDislikes() {
			$.ajax({
				type: "GET",
				url: "/getLikeDislikeCounts",
				data: {
					boardSeq: boardSeq
				},
				success: function (counts) {
					console.log(counts.likes);
					console.log(counts.dislikes);
					document.getElementById('likesCount').innerText = counts.likes;
					document.getElementById('dislikesCount').innerText = counts.dislikes;
				},
				error: function (str) {
					alert(str);
				}
			});
		}

		function likes() {
			var likes = true;
			$.ajax({
				type: "GET",
				url: "/boardLike",
				data: {
					boardSeq: boardSeq,
					userId: userId,
					likes: likes
				},
				success: function (str) {
					updateLikesDislikes();
					alert(str);
				},
				error: function (xhr, textStatus, errorThrown) {
					if (xhr.status == 401) {
						alert("로그인이 필요합니다.");
					} else {
						alert("알 수 없는 오류 발생");
					}
				}
			});
		}

		function disLikes() {
			var likes = false;
			$.ajax({
				type: "GET",
				url: "/boardLike",
				data: {
					boardSeq: boardSeq,
					userId: userId,
					likes: likes
				},
				success: function (str) {
					updateLikesDislikes();
					alert(str);
				},
				error: function (xhr, textStatus, errorThrown) {
					if (xhr.status == 401) {
						alert("로그인이 필요합니다.");
					} else {
						alert("알 수 없는 오류 발생");
					}
				}
			});
		}

		function favorite() {

			$.ajax({
				type: "GET",
				url: "/insertFavorite",
				data: {
					boardSeq: boardSeq,
					userId: userId
				},
				success: function (str) {
					alert(str);
				},
				error: function (xhr, textStatus, errorThrown) {
					if (xhr.status == 401) {
						alert("로그인이 필요합니다.");
					} else {
						alert("알 수 없는 오류 발생");
					}
				}
			});
		}
		/* ]]> */
	</script>
</body>

</html>